<footer>
    <section>
        <br>
        <div class="padre">
            <div class="hijo">
                <i class="fas fa-credit-card"></i>
                <h3>Consultá nuestros medios de pago aquí</h3>
                <p class="parrafo">Tenés cuotas sin interés con tarjeta o efectivo en puntos de pago.</p>
            </div>
            <div class="padre">
                <div class="hijo">
                    <i class="fas fa-gift"></i>
                    <h3>Bolsones y Envíos sin costo</h3>
                    <p class="parrafo">Solo por estar registrad@ en VerduMarket tenés envíos gratis. </p>
                </div>
            </div>
            <div class="padre">
                <div class="hijo">
                    <i class="fab fa-facebook-square"></i>
                    <i class="fab fa-instagram"></i>
                    <h3>Seguinos en nuestras redes</h3>
                    <p class="parrafo">Enterate de nuestras ofertas y actualidades.</p>
                </div>
            </div>
    </section>
    <section>
        <article>
            <h5>Copyright © 2021 VerduMarket S.R.L.</h5>
        </article>
    </section>
</footer>