<header>
    <a href="/">
      <img src="/images/logo2b.png" alt="Logo" class="logo-verdu">
    </a>
    <div class="hamburger-container">
      <input type="checkbox" id="btn-menu" />
      <div class="btn-container">
        <label for="btn-menu"><i class="fas fa-bars fa-1x"></i></label>
      </div>
      <nav class="menu">
        <ul>
          <li><a href="/product/productDetail">Productos</a></li>
          <li><a href="#">Quienes Somos</a></li>
          <li><a href="/users/register">Registrate</a></li>
          <li><a href="/users/login">Ingresá</a></li>
          <li><a href="#">Contacto</a></li>
        </ul>
      </nav>
    </div>
  </header>