/* ------ Reglas generales ------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: "Roboto", sans-serif;
    background-color: #f6f6f6;
    
  }
  .image{
    /* background-image: url('/images/capture.png'); */
    background-image: url('/images/fondo-cart.jpg');
    background-size: cover;
  }
  /* ------ Header y Menu Hamburguesa ------*/
  header {
    width: 100%;
    height: 60px;
    background-color: #8cb944;
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 30%);
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  #btn-menu {
    display: none;
  }
  
  header label {
    display: none;
  }
  
  header label:hover {
    cursor: pointer;
  }
  
  .menu ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    text-align: center;
  }
  
  .menu li:hover {
    text-shadow: 2px 9px 7px rgba(17,68,101,0.93);
    transition: all 600ms;
  }
  
  .menu li a {
    text-decoration: none;
    display: block;
    padding: 20px;
    color: #ffffff;
  }
  
  
  /* --- Logo --- */
  a .logo-verdu {
    display: block;
    max-width: 280px;
    padding: 8px;
  }






/*-------------------------------LOGIN FORMS------------------------------*/

.forms-login {
    width: 95%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;  
    flex-direction: column;
    padding: 20px;
     
}
main{
    /* color: white; */
    color:#ffffff;
    font-weight: bold;
}
.form-l{
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
    border: none;
    width: 90%;
}

.send-l {
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
    border: none;
    background-color: #8cb944;
    color: white;

}

main nav ul a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

.forms-login ul li {
    list-style: none;
    text-align: center;
}



/*----------------main----------------------------- */ 

.buscador{
    padding: 3px;
    border: none;
    border-radius: 2px;
    margin-top: 75px;
    margin-bottom: 6px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: left;
    width: 50%;

}

.lupe {
    position: absolute;
    color: #666;
    right: 50%;
    margin-top: 70px;
    flex-wrap: nowrap;
    display: flex;
    font-size: 12px;

}



/*footer */ 

footer{
    background-color: #f6d866;
}
footer div{
        text-align: center;
    }
    footer i{
        color: #8cb944;
        font-size: 15px;    
    }
    
    footer section{
        text-align: center;
    }
    
    footer p{
        color: #666;
        line-height: 20px;
        height: 100px;
        font-size: 12px;
    }
    footer h3{
        color: #666;
        font-size: 12px;
    }
    footer h5{
        color: white;
        line-height: 30px;
    }

@media (min-width: 361px){
       footer p{
        margin: 0;
        line-height: 25px;
        width: 100%;
        height: 100%;
    }
    footer h5{
        font-size: 10px;
        display: flex;
    }
}    

@media (min-width: 769px) {
    .banner {
        font-size: 12px;
    }

    .searchbar {
        width: 100%;
        height: 100px;
    }

    header section{
        width: 100%;
        height: 75px;
    }

    .logo {
        height: 40px;
        margin-top: 20px;
        margin-bottom: 0px;
    }

    .basket {
        margin-top: 20px;
        font-size: x-large;
    }

    header form {
        color: white;
        font-size: 15px;
        border: #56e1b1;
        border-radius: 5px;
        float: right;
        margin-top: 15px;
        margin-left: 50px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        visibility: visible;
    }

       
    footer section .padre{
        display: flex;
        justify-content: space-around;
    }
    footer p{
        margin: 0;
        line-height: 15px;
    }
    footer h5{
        font-size: 10px;
    }
    footer section article{
        display: flex;
    }
}


@media screen and (max-width: 768px) {
    /* -- Menu Mobile -- */
    .btn-container {
      background-color: #007849;
      border-radius: 3px;
      width: 40px;
      height: 30px;
      color: #ffffff9d;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 15px;
      right: 15px;
      z-index: 1;
    }
    header label {
      display: block;
      margin: 10px;
    }
    .menu {
      position: absolute;
      top: 50px;
      background-color: #8cb944;
      opacity: .94;
      box-shadow: rgba(0, 0, 0, 0.5);
      width: 100%;
      margin-left: -200%;
      transition: all 500ms;
      z-index: 1;
    }
    .menu ul {
      flex-direction: column;
    }
    #btn-menu:checked ~ .menu {
      margin-left: -100%;
    }
  
    .flex-container {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
