* {
  box-sizing: border-box;
}

h1 {
    text-align: center;
    color: red;
}

article {
    display: flex;
    justify-content: center;
    text-align: center;
}

h3, p, img {
    margin-bottom: 10px;
}