/* Especificaciones del main del carrito de compras*/
   .main-cart{
      margin: auto;
      width: 330px;
      color:#666;
      display:flex;
      flex-wrap:wrap;
      justify-content: space-between;      
     }  
     .main-cart .list {
      width: 100%;
     }
     .main-cart .list h2{
       color:#666;
       font-size: 24px;
       padding:15px;
     }
        .main-cart section article{
          margin-top:10px;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: center;
          padding: 10px;
          background-color:#ffffff;
          opacity: 85%;
        }

        .main-cart section article .product-detail{
          display: flex;
          flex-wrap: wrap;
          flex-direction: column;
        }
        .main-cart section article .value{
          align-self: center;
        }
        .main-cart section article .image{
          width: 100px;
          display: none;
        }
        .main-cart section article .fa-trash{
          transition:all 350ms;
        }
        .main-cart section article .fa-trash:hover{
          color: #8cb944;
        }
        .main-cart section .form-control{
            margin-top: 15px;
            display: block;
        }
        .main-cart section .form-control .control{
            width: 70px;
            padding: 10px;
            border: 1px solid #8cb944;
            border-radius: 5px;
            font-size: 16px;
            color:#161d6f;
            text-align: center;
        }
        .main-cart section article hr{
          border: 1px solid #666;
        }
        .main-cart .total{
          margin:5px; 
          text-align: right;
          display:flex;
          flex-wrap: wrap;
          justify-content: center;
          align-items: flex-end;
          background-color: #8cb944;
          color: #ffffff;
          padding: 20px;
        }
        .main-cart h4{
         font-weight: normal;
        }

        .main-cart section .buttons{
            display: flex;
            justify-content: center;
        }
        .main-cart section .button-form{
            width:50%;
            padding:15px; 
            background-color:#98ded9;
            color:#ffffff;
            font-size: 16px;
            text-align: center;
            margin: 1px;
            border:none;
        }
      
      .main-cart section .buttons{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .main-cart section .form-control .control:focus{
      background-color:#56e1b1;
    }
    .main-cart section .buttons{
      max-width: 500px;
      position: fixed;
      margin: auto;
      bottom: 0px;
      left: 0px;
      right: 0px;
    } 
    .main-cart section .button-form{
        width:50%;
        padding:15px; 
        background-color:#f6d866;
        color:#ffffff;
        font-size: 16px;
        text-align: center;
        margin: 1px;
        border:none
    }
    .main-cart section .form-control .submit{
      background-color:#8cb944;
      font-weight: bold;
    }
    .main-cart .total-cart{
      display:none;
    }

    .main-cart .balloon{
      border: 1px #8cb944 solid;
      width: 100%;
      border-radius: 20px;
      padding: 15px;
      margin: 5px;
      transition: all 350px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;

    }
    .main-cart .shipping{
      background-color: #f6d866
    }
    .main-cart .resume{
      background-color: #ffffff;
      opacity: 85%;
    }
    .main-cart .resume  #disconunt-cod{
      padding:7px;
      width: 80%;
      border-radius: 15px;
      border: 1px solid #8cb944 ;
      margin: 5px;
    }
    .main-cart .total-total{
      background-color: #8cb944;
      color: #ffffff;
    }
    .main-cart .total-cart .rigth-form{
      margin: auto;
    }
      /*fin de Carrito de Compras*/
@media (min-width: 769px){
  .main-cart{
    width: 760px;
  }
  .main-cart .list{
    width: 60%;
  }
  .main-cart .list h2{
    color:#ffffff;
  }
  .main-cart .total-cart{
    width: 40%;
    display:flex;
  }
  .main-cart .total{
    display: none;
  }
  .main-cart section article {
    transition: all 300ms;
  }
  .main-cart section article .image{
    display: block;
  }

  .main-cart section article:hover {
    box-shadow: 0px 0px 10px #646464;
  }
  .main-cart .balloon:hover{
    box-shadow: 0px 0px 10px #646464;
  }
  body {
    background-image: url('/images/fondo-cart.jpg');
    background-size: cover;
   }
  
}
