 .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 170px;
    margin-bottom: 20px;
    text-align: center;
    font-family: arial;
    display: flex;
    background-color: #ebebeb94;
  }
  
  .product-image-container {
    width: 30%;
  }

  .product-image {
    display: block;
    width: 80%;
    height: 100%;
  }

  .product-card {
    width: 40%;
  }

  .lost {
    text-align: center;
    background-color: #ebebebb7;
    max-width: 75%;  
    margin: auto;
  }

  .product-add {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
  }

  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #8cb944;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }

  .container-card{
      display: flex;
      flex-wrap: wrap;
  }

