<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head')%>
    <link rel="stylesheet" href="/css/styles.css" /> 
  </head>
  <body>
    <%- include('partials/header')%>
    <main>
      <section class="order">
        <h2>Mercado Online <br> de Frutas y Verduras.</h2>

        <h1> ERROR 404 La página que estás buscando no está en el servidor. Por favor valla al menu e intente de nuevo. </h1>

    <%-include('partials/footer')%>
  </body>
</html>