<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="/css/normalize.css" />
<link rel="stylesheet" href="/css/header-footer.css">
<link rel="preconnect" href="https://fonts.gstatic.com" />
<link rel="shortcut icon" href="/icons/broccoli.svg" type="image/x-icon">
<link
  href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
  rel="stylesheet"
/>
<script
  src="https://kit.fontawesome.com/04ee3a3d2e.js"
  crossorigin="anonymous"
></script>
<title>VerduMarket: Mercado Online de Frutas y Verduras</title>
