<header>

    <a class="logo-verdu"href="/">
      <img src="/images/logo2b.png" alt="Logo" >
    </a>

    <section class="search">      
      <div class="search-bar">
        <form action="/products/search" method="GET" class="search-form">
          <input type="text" name="search" id="searchterm" placeholder="Busca tus productos aquí"/>
          <button type="button">
              <i class="fas fa-search"></i>
          </button>
        </form>
     </div>
    </section>
   
    <div class="hamburger-container">
      <input type="checkbox" id="btn-menu" />
      <div class="btn-container">
        <label for="btn-menu"><i class="fas fa-bars fa-1x"></i></label>
      </div>
      <nav class="menu">
        <ul>
          <% if (locals.isLogged) { %>
            <li><a href="/users/profile">Hola <%= locals.userLogged.name %>!</a></li><br>
            <img src="/avatars/<%= locals.userLogged.avatar %>" alt="Imagen de usuario" width="30px" height="30px">
            <li><a href="/products">Productos <i class="fas fa-carrot"></i></a> </li> 
            <li><a href="#">Quienes Somos <i class="fas fa-users"></i></a></li>
            <li><a href="#">Contacto <i class="fas fa-phone"></i></a></li>
            <br>
            <li class="cart"><a href="/products/productCart"><i class="fas fa-shopping-cart"></i> </a></li>
            <% } else { %>
              <li><a href="/products">Productos <i class="fas fa-carrot"></i></a> </li> 
              <li><a href="#">Quienes Somos <i class="fas fa-users"></i></a></li>
              <li><a href="#">Contacto <i class="fas fa-phone"></i></a></li>
              <li><a href="/users/register">Registrate <i class="fas fa-address-card"></i></a></li>
              <li><a href="/users/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
          <br>
          <% } %>
        </ul>
      </nav>
    </div>
  </header>