<!DOCTYPE html>
<html lang="en"> 
<head>
   <%- include('../partials/head')%>
   <link rel="stylesheet" href='/css/login2.css'/>
</head>   
<body>
  <%- include('../partials/header')%>

  <main class="main-login">

    <section>

      <div class="login">

        <marquee>Ingresá a tu cuenta</marquee>

        <form action="/users/login/" method="POST" class="formulario">

          <div class="form-control">
            <input type="email" name="email" id="email" placeholder="Email" class="control">

            <% if (locals.errors && errors.email) { %>
              <div class="text-danger">
                <%= errors.email.msg %> 
              </div>
            <% } %>

            <span class="Feedback"></span>
          </div>

          <div class="form-control">
            <input type="password" name="password" id="password" placeholder="Contraseña" class="control" >
            <span class="Feedback"></span>
          </div>    

          <div class="check">
            <input type="radio" name="remember" id="remember">       
            <label class="label" for="remember">Recordame</label>
          </div>  

          <br>

          <div class="form-control buttons">
            <input type="submit" value="Iniciar sesión" class="submit button-form">
            <input type="href" value="Registrate" class="button-form">
          </div>

        </form>

      </div>  
    </section>
  </main>
  <%- include('../partials/footer')%>
</body>
</html>