<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head')%>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <p class="banner"> ¡REGISTRATE Y OBTENÉ UN 10% DE DESCUENTO EN TU PRIMERA COMPRA! ¡SI TU COMPRA ES MAYOR A $3500
        TENÉS EL ENVÍO BONIFICADO!</p>

    <%- include('../partials/header')%>

    <main>
        <div class="image">
            <section class="forms-login" >
                <form accion="./views/home.html" method="POST">
                    <input class="form-l" type="text" placeholder="Nombre de usuario" name="usuario" />
                    <input class="form-l" type="password" placeholder="Contraseña" name="clave" />
                </form>
                <input type="radio">Recordame</button>
                <input class="send-l" type="submit" value="Enviar" /> <a href="#"></a>
                <nav role="navigation">
                    <ul class="menu-login">
                        <li><a href="#">Recuperá tu contrasena
                            </a></li>
                        <li><a href="./views/register.html">REGISTRATE
                            </a></li>
                    </ul>
                </nav>
            </section>
        </div>
    </main>
    <%- include('../partials/footer')%>
</body>

</html>