<!DOCTYPE html>
<html lang="en"> 
<head>
   <%- include('../partials/head')%>
   <link rel="stylesheet" href='/css/login2.css'/>
</head>   
<body>
  <%- include('../partials/header')%>

  <main class="main-login">
    <section>
      <div class="login">
        <marquee>Ingres치 a tu cuenta</marquee>
        <form action="/" class="formulario">
          <div class="form-control">
            <input type="text" name="name" id="name" placeholder="Usuario" required class="control">
            <span class="Feedback"></span>
          </div>
          <div class="form-control">
            <input type="text" name="lastname" id="lastname" placeholder="Contrase침a" required class="control" >
            <span class="Feedback"></span>
          </div>          
          <div class="check">
            <label class="label" for="agree">Recordame</label>
              <input type="radio" name="agree" id="agree" required>       
          <br>
          <div class="form-control buttons">
            <input type="href" value="Recuper치 tu contrase침a" class="button-form">
            <input type="submit" value="Enviar" class="submit button-form">
            <input type="href" value="Registrate" class="button-form">
          </div>
        </form>
      </div>  
    </section>
  </main>
  <%- include('../partials/footer')%>
</body>
</html>