<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include('../partials/head')%>
    <link rel="stylesheet" href="/css/productCart.css" />
  </head>

  <body>
    <%- include('../partials/header')%>

    <h1>Resultados de tu búsqueda:</h1>

    <ul>
        <li>Código de productos buscados</li>
    </ul>






  </body>

  <%-include('../partials/footer')%>

</html>
