<!DOCTYPE html>
<html lang="en"> 
<head>
   <%- include('../partials/head')%>
   <link rel="stylesheet" href='/css/productUpload.css'/>
</head>   
<body>
  <%- include('../partials/header')%>
  <main class="main-register">
    <section>
      <div class="register">
        <h2>Creacion de un nuevo producto</h2>
        <form action="/products/create/" method=POST class="formulario" enctype="multipart/form-data">
          <div class="form-control">
            <input type="text" name="name" id="name" placeholder="Nombre" required class="control" >
            <span class="Feedback"></span>
          </div>
          <div class="form-control">
            <input type="text" name="price" id="price" placeholder="Precio" required class="control" ">
            <span class="Feedback"></span>
          </div>          
          <!-- <div class="form-control">
            <input type="text" name="category" id="category" placeholder="Categoria" required class="control"  >
            <span class="Feedback"></span>
          </div> -->
          <div class="form-control">
            <label class="text" for="category">Categoría:</label>
                <select class= "options" name="category" id="category" class="control" required " >
                    <option value="1">Frutas</option>
                    <option value="2">Verduras</option>
                    <option value="3">Almacén</option>
                    <option value="4">Dietética</option>
                </select>
          </div>
          <div class="form-control">
            <input type="text" name="stock" id="stock" placeholder="Stock" required class="control" ">
            <span class="Feedback"></span>
          </div> 
          <div class="form-control">
            <input type="text" name="stock_min" id="stock_min" placeholder="Stock Minimo" required class="control" ">
            <span class="Feedback"></span>
          </div> 
          <div class="form-control">
            <input type="text" name="stock_max" id="stock_max" placeholder="Stock Maximo" required class="control" ">
            <span class="Feedback"></span>
          </div> 
          <div class="form-control">
          <textarea type="text" name="description" id="Description"  placeholder="Descripción" required class="control"></textarea>
          <span class="Feedback"></span>
          </div>
          <br>
          <br>
          <label class= "image" > Seleccionar una imagen para el producto </label>
          <br>
          <input class="image" type="file" name="Imagen" accept=".png" multiple>
          <br>
          <div class="form-control">
            <input type="text" name="facts" id="facts" placeholder="Nutrición" required class="control" >
            <span class="Feedback"></span>
          </div>
          <div class="form-control">
            <label class="text" for="in-sale">Oferta:</label>
                <select class= "options" name="in-sale" id="in-sale" class="control" required >
                    <option value="week">Oferta de la semana</option>
                    <option value="weekFalse">Común</option>
                </select>
          </div>  

          <div class="form-control buttons">
            <input type="submit" value="Enviar" class="submit button-form">
            <!-- <input type="reset" value="Limpiar" class="button-form"> -->
          </div>

        </form>
      </div>  
    </section>
  </main>
  <%- include('../partials/footer')%>
</body>
</html>